<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>rotator.py</string>
			<key>preferredName</key>
			<string>Rotator</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Frank Grießhammer</string>
	<key>developerURL</key>
	<string>www.frgr.de</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>Rotator</string>
	<key>timeStamp</key>
	<real>1576106946.01932</real>
	<key>version</key>
	<string>0.5.4</string>
	<key>repository</key>
	<string>frankrolf/Rotator</string>
	<key>extensionPath</key>
	<string>Rotator.roboFontExt</string></dict>
</plist>
